

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* light mode */
html[data-theme="light"] {
  --bg-color: #ecf0f3;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  --border: 1px solid #ecf0f3;
}
/* dark mode */
html[data-theme="dark"] {
  --bg-color: #272727;
  --shadow: 0 4px 8px 0 rgba(104, 102, 102, 0.2);
  --border: none;
}

.image-slider .swiper-slide {
  position: relative;
  display: grid;
  align-self: center;
  overflow: hidden;
}
.image-slider .swiper-slide .wrapper {
  margin-top: 340px;
  margin-bottom: 60px;
}
.image-slider .swiper-slide .img-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 95%;
}
.image-slider .swiper-slide .img-container img {
  width: 80%;
  height: 100%;
}
.image-slider .swiper-slide .title {
  font-size: 3rem;
  color: var(--text-color);
  text-transform: uppercase;
}
.controller,
.controller1 {
  position: absolute;
  right: 11%;
  border-radius: 50%;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controller1 {
  left: 11%;
}
.swiper-container
  .image-slider
  .swiper-button-next
  .swiper-nav-ctrl
  .prev-ctrl {
  position: absolute !important;
  left: 14% !important;
  border-radius: 50%;
  width: 44px !important;
  padding-right: 4px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controller :hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.controller1 :hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-button-next .swiper-nav-ctrl :hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* for text */
.content {
  display: flex;
  justify-content: end;
  color: #fff;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: none;
}
.image-slider .ctrl:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.parallax-slider .swiper-nav-ctrl.next-ctrl {
  right: 0;
}
.parallax-slider .swiper-nav-ctrl.prev-ctrl {
  left: 0;
}
.image-slider .text-wrapper {
  overflow: hidden;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.image-slider .text-wrapper .text-inner {
  -webkit-transform: translateY(100%);
  color: var(--text-color);
  transform: translateY(100%);
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.image-slider .swiper-slide-active.active .text-inner {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.image-slider .swiper-slide.active .sub-title .text-inner {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.image-slider .swiper-slide.active .title .text-inner {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.image-slider .swiper-slide.active .description .text-inner {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
/* positioning */
.container {
  position: relative;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.event_svg {
  height: 100%;
}
.arrow_contain {
  width: 85%;
}
.root_block {
  margin-top: 8%;
}
/* Responsiveness*/
@media only screen and (max-width: 1000px) {
  .heading {
    margin-top: 10%;
  }
  .root_block {
    margin-top: 12%;
  }
  .image-slider .text-wrapper .text-inner {
    font-size: 45px;
  }
}
@media only screen and (max-width: 770px) {
  .image-slider .ctrl {
    height: 50px;
    width: 50px;
  }
  .image-slider .text-wrapper .text-inner {
    font-size: 37px;
  }
  .image-slider .swiper-slide .wrapper {
    margin-top: 330px;
    margin-bottom: 70px;
  }
  .controller {
    right: 5%;
  }
  .controller1 {
    left: 5%;
  }
  .controller,
  .controller1 {
    width: 36px;
    height: 36px;
  }
  .content {
    justify-content: center;
  }
  .root_block {
    margin-top: 17%;
  }
  .arrow_contain {
    width: 100%;
  }

  .image-slider .swiper-slide .img-container img {
    width: 100%;
    height: 80%;
  }
  .block_two {
    height: 80% !important;
  }
  .controls,
  .controls1 {
    bottom: 0;
  }
}
@media only screen and (max-width: 690px) {
  .root_block {
    height: 85% !important;
    margin-top: 22%;
  }
  .image-slider .swiper-slide .wrapper {
    margin-top: 330px;
    margin-bottom: 70px;
  }
  .content {
    justify-content: center;
  }
  .image-slider .text-wrapper .text-inner {
    font-size: 35px;
  }
  .controller,
  .controller1 {
    width: 30px;
    height: 30px;
  }
  .controller {
    right: 5%;
  }
  .controller1 {
    left: 5%;
  }
}
@media only screen and (max-width: 500px) {
  .root_block {
    height: 70% !important;
    margin-top: 32%;
  }
  .image-slider .swiper-slide .title {
    font-size: 3rem !important;
  }
  .heading {
    margin-top: 8%;
    margin-bottom: 0% !important;
  }
  .image-slider .text-wrapper .text-inner {
    font-size: 30px;
  }
}


#marquee {
  padding: 50px 0px;
  width: 100%;
}

#marquee .container {
  overflow: hidden;
  width: 100%;
}

#marquee .pic-container {
  display: flex;
  animation: marquee 10s infinite linear;
}

#marquee:hover {
  animation-play-state: paused;
}

#marquee .pic-container .pic {
  flex-basis: 20%;
  flex-shrink: 0;
}

#marquee img {
  width: 100%;
  object-fit: cover;
  border: 1px solid rgba(238, 231, 231, 0.9);
}

@media (max-width: 1024px) {
  #marquee .pic-container .pic {
      flex-basis: 25%;
  }
}

@media (max-width: 768px) {
  #marquee .pic-container .pic {
      flex-basis: 33.33%;
  }
}

@keyframes marquee {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

@media (max-width: 1024px) {
  @keyframes marquee {
      0% {
          transform: translateX(0);
      }
      100% {
          transform: translateX(-125%);
      }
  }
}

@media (max-width: 768px) {
  @keyframes marquee {
      0% {
          transform: translateX(0);
      }
      100% {
          transform: translateX(-186.65%);
      }
  }
}

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Mulish", sans-serif;
  font-size: 14px;  
  background: #c8d3d6;
}
:root{
  --color-1:#f68121;
  --color-2:#ed1c24;
  --color-3:#582c8b;
  --color-4:#0166b4;
}
.page-wrapper{
  padding: 100px 0;
}
.infographic-cards {
  width: 100%;
  position: relative;
  display: flex;
  gap: 2%;
  justify-content: center;
  padding-left: 0;

}
.infographic-cards li {
  list-style: none;
  width: calc(100% /4);
  height: 230px;
  padding: 25px 30px;
  background: #eee;
  position: relative;
  background-image: linear-gradient(to bottom right, #e9eaecda, #ffffff);
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
  box-shadow: inset 2px 2px 2px white, inset -1px -1px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  display: inline-block;
  margin-bottom: 25px;
  border-radius: 20px;
}
.infographic-cards li h5{
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 15px;
}
.infographic-cards li h6{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}
.infographic-cards li.color-1{
  border: 10px solid var(--color-1);
}

.infographic-cards li.color-2{
  border: 10px solid var(--color-2);
}

.infographic-cards li.color-3{
  border: 10px solid var(--color-3);
}

.infographic-cards li.color-4{
  border: 10px solid var(--color-4);
}


.infographic-cards li i{
  font-size: 35px;
  margin-bottom: 15px;
}
.infographic-cards li.color-1 i{
  color: var(--color-1);
}

.infographic-cards li.color-2 i{
  color: var(--color-2);
}

.infographic-cards li.color-3 i{
  color: var(--color-3);
}

.infographic-cards li.color-4 i{
  color: var(--color-4);
}

.number-box{
  position: absolute;
    bottom: 0;
    padding: 15px;
    font-size: 23px;
    border-radius: 60px 60px 0 0;
    width: 60px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.2), 0em 0.05em rgba(255, 255, 255, 0);
    font-weight: 800;
    color: #fff;
}
.infographic-cards li.color-1 .number-box{
  background: var(--color-1);
}

.infographic-cards li.color-2 .number-box{
  background: var(--color-2);
}

.infographic-cards li.color-3 .number-box{
  background: var(--color-3);
}

.infographic-cards li.color-4 .number-box{
  background: var(--color-4);
}

@media screen and (max-width:991px){
  .infographic-cards{
      flex-wrap: wrap;
  }
  .infographic-cards li {
      flex: 0 0 auto;
      width: calc(100% /2.5);
  }
}
@media screen and (max-width:578px){
  
  .infographic-cards li {
      width: calc(100% /1);
  }
}